<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <listeners>
        <listener class-name="org.example.testautomation.Listeners"></listener>
    </listeners>

    <test thread-count="1" name="Sample Demo Tests">
        <classes>
            <class name="org.example.testautomation.Tests"></class>
        </classes>
    </test>
</suite> <!-- Suite -->